[user]
	name = Edwin Khoo
	email = edwinksl@gmail.com
	signingkey = CFA4DACFAC5FB517
[alias]
	hist = log --pretty=format:'%C(auto)%h %ad | %s%d [%an]' --graph --date=short
	d = diff
	ds = diff --staged
	s = status
[core]
	editor = code --wait
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = false
	syntax-theme = Coldark-Dark
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[credential]
	# credentialStore = gpg
	helper = /mnt/c/Users/ekhoo/AppData/Local/Programs/Git/mingw64/bin/git-credential-manager.exe
[credential "https://dev.azure.com"]
	useHttpPath = true
[init]
	defaultBranch = main
