[user]
	name = Edwin Khoo
	email = edwinksl@gmail.com
	signingkey = CFA4DACFAC5FB517
[alias]
	hist = log --pretty=format:'%C(auto)%h %ad | %s%d [%an]' --graph --date=short
	d = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy | less --tabs=4 -RFX; }; f"
	dc = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy | less --tabs=4 -RFX; }; f --cached"
	dw = diff --color-words
	dwc = diff --color-words --cached
[core]
	editor = code --wait
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = false
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[credential]
	credentialStore = gpg
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
