[user]
	name = Edwin Khoo
	email = edwinksl@gmail.com
[alias]
	hist = log --pretty=format:\"%C(auto)%h %ad | %s%d [%an]\" --graph --date=short
	diffc = diff --cached
	diffw = diff --color-words
	diffwc = diff --color-words --cached
[core]
	editor = atom-beta --wait
